# Week 11 Homework - Getting data


1. Load the dataframe saved from this week's lab.
1. Scrape data from this page https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)
1. Append to the dataframe: projected GDP (nominal) from IMF estimates from 2022 to 2027. (If data is not available for the country use None)
1. Add a new column and calculate average increase in terms of percentage. 
1. Sort by this column in descending order.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [2]:
# Loading the dataframe
data = pd.read_csv('COUNTRIES.CSV',index_col = 'Unnamed: 0')

In [3]:
data.head(50)

,COUNTRY,CAPITAL,AREA,POPULATION
0,Andorra,Andorra la Vella,468.0,84000
1,United Arab Emirates,Abu Dhabi,82880.0,4975593
2,Afghanistan,Kabul,647500.0,29121286
3,Antigua and Barbuda,St. John's,443.0,86754
4,Anguilla,The Valley,102.0,13254
5,Albania,Tirana,28748.0,2986952
6,Armenia,Yerevan,29800.0,2968000
7,Angola,Luanda,1246700.0,13068161
8,Antarctica,None,14000000.0,0
9,Argentina,Buenos Aires,2766890.0,41343201
10,American Samoa,Pago Pago,199.0,57881
11,Austria,Vienna,83858.0,8205000
12,Australia,Canberra,7686850.0,21515754
13,Aruba,Oranjestad,193.0,71566
14,Åland,Mariehamn,1580.0,26711
15,Azerbaijan,Baku,86600.0,8303512
16,Bosnia and Herzegovina,Sarajevo,51129.0,4590000
17,Barbados,Bridgetown,431.0,285653
18,Bangladesh,Dhaka,144000.0,156118464
19,Belgium,Brussels,30510.0,10403000
20,Burkina Faso,Ouagadougou,274200.0,16241811
21,Bulgaria,Sofia,110910.0,7148785
22,Bahrain,Manama,665.0,738004
23,Burundi,Bujumbura,27830.0,9863117
24,Benin,Porto-Novo,112620.0,9056010
25,Saint Barthélemy,Gustavia,21.0,8450
26,Bermuda,Hamilton,53.0,65365
27,Brunei,Bandar Seri Begawan,5770.0,395027
28,Bolivia,Sucre,1098580.0,9947418
29,Bonaire,Kralendijk,328.0,18012
30,Brazil,Brasília,8511965.0,201103330
31,Bahamas,Nassau,13940.0,301790
32,Bhutan,Thimphu,47000.0,699847
33,Bouvet Island,None,49.0,0
34,Botswana,Gaborone,600370.0,2029307
35,Belarus,Minsk,207600.0,9685000
36,Belize,Belmopan,22966.0,314522
37,Canada,Ottawa,9984670.0,33679000
38,Cocos [Keeling] Islands,West Island,14.0,628
39,Democratic Republic of the Congo,Kinshasa,2345410.0,70916439
40,Central African Republic,Bangui,622984.0,4844927
41,Republic of the Congo,Brazzaville,342000.0,3039126
42,Switzerland,Bern,41290.0,7581000
43,Ivory Coast,Yamoussoukro,322460.0,21058798
44,Cook Islands,Avarua,240.0,21388
45,Chile,Santiago,756950.0,16746491
46,Cameroon,Yaoundé,475440.0,19294149
47,China,Beijing,9596960.0,1330044000
48,Colombia,Bogotá,1138910.0,47790000
49,Costa Rica,San José,51100.0,4516220

In [4]:
data.shape

(250, 4)

In [5]:
# Scrape data from this page
RES = requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)')
RES.ok

True

In [6]:
RES.text[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of countries by past and projected GDP (nominal) - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"82902762-b9f1-4e85-8f17-5409edd4ba8f","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_countries_by_past_and_projected_GDP_(nominal)","wgTitle":"List of countries by past and projected GDP (nominal)","wgCurRevisionId":1122894513,"wgRevisionId":1122894513,"wgArticleId":1424142,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles with short description",'

In [7]:
HTML_DOC = RES.text

In [8]:
#IMF ESTIMATIONS for 2020 through 2027
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(nominal)'

In [9]:
lag1 = pd.read_html(url, header = 0)

In [10]:
len(lag1)

14

In [11]:
lag = lag1[5]
lag.head(50)

,Country (or dependent territory),2020,2021,2022,2023,2024,2025,2026,2027
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136
1,Albania,15161,18310,18256,18842,19858,21219,22528,23889
2,Algeria,144922,162711,187155,190254,196624,205435,215544,224042
3,Andorra,2885,3330,3302,3360,3517,3680,3835,3985
4,Angola,58125,75179,124794,135558,142198,149076,156463,164414
5,Antigua and Barbuda,1370,1471,1692,1867,2014,2137,2239,2345
6,Argentina,389064,486702,630698,643797,642696,625695,633282,662416
7,Armenia,12641,13928,17693,19460,20987,22901,24533,26316
8,Aruba,2610,3126,3499,3676,3833,3996,4166,4328
9,Australia,1357639,1635255,1724787,1787948,1837686,1913523,1994128,2081613
10,Austria,432912,477084,468046,472686,494052,516742,540286,564321
11,Azerbaijan,42693,54622,70066,71212,75033,79025,82999,87282
12,Bahamas,9700,11209,12693,13752,14529,15136,15704,16274
13,Bahrain,34723,38869,43544,45032,46743,48673,50825,53142
14,Bangladesh,373902,416265,460751,484756,541974,603748,667863,738569
15,Barbados,4677,4854,5788,6277,6670,7034,7354,7636
16,Belarus,61312,68208,79704,91985,95060,98046,100518,103598
17,Belgium,521260,599107,589491,596743,619313,642311,666456,690722
18,Belize,2019,2426,2676,2858,2980,3101,3227,3358
19,Benin,15674,17699,17547,18247,19639,21459,23461,25642
20,Bhutan,2421,2442,2707,2958,3244,3554,3868,4196
21,Bolivia,36897,40703,43431,45989,49026,52161,55390,58762
22,Bosnia and Herzegovina,19951,23365,23681,24531,26253,27831,29525,31273
23,Botswana,14930,17614,18005,18668,20084,21484,23199,25058
24,Brazil,1448550,1608080,1894708,2059443,2200916,2319460,2436707,2568056
25,Brunei,12006,14006,18464,17937,18080,18366,18705,19313
26,Bulgaria,69995,80327,85008,89333,95202,100451,106257,112542
27,Burkina Faso,17378,19095,18268,18946,20382,21996,23779,25530
28,Burundi,3086,3351,3686,3995,4351,4741,5113,5497
29,Cape Verde,1871,2112,2053,2140,2315,2507,2704,2900
30,Cambodia,25192,26313,28330,30708,33322,36115,39188,42509
31,Cameroon,40863,45391,44212,46017,49690,53582,57718,62158
32,Canada,1645423,1988336,2200352,2326620,2420683,2531243,2630342,2728384
33,Central African Republic,2389,2584,2488,2639,2826,3029,3243,3466
34,Chad,10728,11796,12945,13523,14228,15016,15901,16832
35,Chile,252346,316770,310866,347570,358787,375109,390696,407865
36,China,14862564,17744640,18321197,19243974,20699148,22404019,24295368,26437719
37,Colombia,270415,314409,342919,361941,380374,400263,421988,444716
38,Comoros,1218,1284,1242,1290,1361,1454,1558,1669
39,Democratic Republic of the Congo,48707,56553,63909,70354,77165,84531,92487,100813
40,Republic of the Congo,10330,12641,14486,14338,15127,15329,15589,16355
41,Costa Rica,62144,64417,68489,72958,76090,79906,84166,88648
42,Ivory Coast,61437,70080,68630,72689,79169,86174,93406,100495
43,Croatia,57203,67707,69380,73490,78740,83843,88370,92762
44,Cyprus,24672,27738,26705,27592,28822,30510,32365,34431
45,Czech Republic,245975,281778,295618,314718,337756,360228,380650,400728
46,Denmark,355223,398303,386724,393978,412973,432508,452560,473709
47,Djibouti,3181,3372,3725,3984,4348,4723,5131,5576
48,Dominica,504,537,599,658,702,746,779,815
49,Dominican Republic,78923,94714,112417,122324,131293,140335,150143,160813

In [12]:
lag.rename(columns={'Country (or dependent territory)': 'COUNTRY'}, inplace=True)
lag.head(50)

,COUNTRY,2020,2021,2022,2023,2024,2025,2026,2027
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136
1,Albania,15161,18310,18256,18842,19858,21219,22528,23889
2,Algeria,144922,162711,187155,190254,196624,205435,215544,224042
3,Andorra,2885,3330,3302,3360,3517,3680,3835,3985
4,Angola,58125,75179,124794,135558,142198,149076,156463,164414
5,Antigua and Barbuda,1370,1471,1692,1867,2014,2137,2239,2345
6,Argentina,389064,486702,630698,643797,642696,625695,633282,662416
7,Armenia,12641,13928,17693,19460,20987,22901,24533,26316
8,Aruba,2610,3126,3499,3676,3833,3996,4166,4328
9,Australia,1357639,1635255,1724787,1787948,1837686,1913523,1994128,2081613
10,Austria,432912,477084,468046,472686,494052,516742,540286,564321
11,Azerbaijan,42693,54622,70066,71212,75033,79025,82999,87282
12,Bahamas,9700,11209,12693,13752,14529,15136,15704,16274
13,Bahrain,34723,38869,43544,45032,46743,48673,50825,53142
14,Bangladesh,373902,416265,460751,484756,541974,603748,667863,738569
15,Barbados,4677,4854,5788,6277,6670,7034,7354,7636
16,Belarus,61312,68208,79704,91985,95060,98046,100518,103598
17,Belgium,521260,599107,589491,596743,619313,642311,666456,690722
18,Belize,2019,2426,2676,2858,2980,3101,3227,3358
19,Benin,15674,17699,17547,18247,19639,21459,23461,25642
20,Bhutan,2421,2442,2707,2958,3244,3554,3868,4196
21,Bolivia,36897,40703,43431,45989,49026,52161,55390,58762
22,Bosnia and Herzegovina,19951,23365,23681,24531,26253,27831,29525,31273
23,Botswana,14930,17614,18005,18668,20084,21484,23199,25058
24,Brazil,1448550,1608080,1894708,2059443,2200916,2319460,2436707,2568056
25,Brunei,12006,14006,18464,17937,18080,18366,18705,19313
26,Bulgaria,69995,80327,85008,89333,95202,100451,106257,112542
27,Burkina Faso,17378,19095,18268,18946,20382,21996,23779,25530
28,Burundi,3086,3351,3686,3995,4351,4741,5113,5497
29,Cape Verde,1871,2112,2053,2140,2315,2507,2704,2900
30,Cambodia,25192,26313,28330,30708,33322,36115,39188,42509
31,Cameroon,40863,45391,44212,46017,49690,53582,57718,62158
32,Canada,1645423,1988336,2200352,2326620,2420683,2531243,2630342,2728384
33,Central African Republic,2389,2584,2488,2639,2826,3029,3243,3466
34,Chad,10728,11796,12945,13523,14228,15016,15901,16832
35,Chile,252346,316770,310866,347570,358787,375109,390696,407865
36,China,14862564,17744640,18321197,19243974,20699148,22404019,24295368,26437719
37,Colombia,270415,314409,342919,361941,380374,400263,421988,444716
38,Comoros,1218,1284,1242,1290,1361,1454,1558,1669
39,Democratic Republic of the Congo,48707,56553,63909,70354,77165,84531,92487,100813
40,Republic of the Congo,10330,12641,14486,14338,15127,15329,15589,16355
41,Costa Rica,62144,64417,68489,72958,76090,79906,84166,88648
42,Ivory Coast,61437,70080,68630,72689,79169,86174,93406,100495
43,Croatia,57203,67707,69380,73490,78740,83843,88370,92762
44,Cyprus,24672,27738,26705,27592,28822,30510,32365,34431
45,Czech Republic,245975,281778,295618,314718,337756,360228,380650,400728
46,Denmark,355223,398303,386724,393978,412973,432508,452560,473709
47,Djibouti,3181,3372,3725,3984,4348,4723,5131,5576
48,Dominica,504,537,599,658,702,746,779,815
49,Dominican Republic,78923,94714,112417,122324,131293,140335,150143,160813

In [13]:
DF = pd.merge(lag,data,on = "COUNTRY", how = 'left')
DF.head(8)

,COUNTRY,2020,2021,2022,2023,2024,2025,2026,2027,CAPITAL,AREA,POPULATION
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0
1,Albania,15161,18310,18256,18842,19858,21219,22528,23889,Tirana,28748.0,2986952.0
2,Algeria,144922,162711,187155,190254,196624,205435,215544,224042,Algiers,2381740.0,34586184.0
3,Andorra,2885,3330,3302,3360,3517,3680,3835,3985,Andorra la Vella,468.0,84000.0
4,Angola,58125,75179,124794,135558,142198,149076,156463,164414,Luanda,1246700.0,13068161.0
5,Antigua and Barbuda,1370,1471,1692,1867,2014,2137,2239,2345,St. John's,443.0,86754.0
6,Argentina,389064,486702,630698,643797,642696,625695,633282,662416,Buenos Aires,2766890.0,41343201.0
7,Armenia,12641,13928,17693,19460,20987,22901,24533,26316,Yerevan,29800.0,2968000.0

In [14]:
DF = DF.replace(np.nan, 0)

In [15]:
DF.head(8)

,COUNTRY,2020,2021,2022,2023,2024,2025,2026,2027,CAPITAL,AREA,POPULATION
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0
1,Albania,15161,18310,18256,18842,19858,21219,22528,23889,Tirana,28748.0,2986952.0
2,Algeria,144922,162711,187155,190254,196624,205435,215544,224042,Algiers,2381740.0,34586184.0
3,Andorra,2885,3330,3302,3360,3517,3680,3835,3985,Andorra la Vella,468.0,84000.0
4,Angola,58125,75179,124794,135558,142198,149076,156463,164414,Luanda,1246700.0,13068161.0
5,Antigua and Barbuda,1370,1471,1692,1867,2014,2137,2239,2345,St. John's,443.0,86754.0
6,Argentina,389064,486702,630698,643797,642696,625695,633282,662416,Buenos Aires,2766890.0,41343201.0
7,Armenia,12641,13928,17693,19460,20987,22901,24533,26316,Yerevan,29800.0,2968000.0

In [16]:
#calculating the average value which increase in terms of percentage.

DF['average'] = ((DF['2027']-DF['2022'])*100)/DF['2022']

In [17]:
DF

,COUNTRY,2020,2021,2022,2023,2024,2025,2026,2027,CAPITAL,AREA,POPULATION,average
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0,0.000000
1,Albania,15161,18310,18256,18842,19858,21219,22528,23889,Tirana,28748.0,2986952.0,30.855609
2,Algeria,144922,162711,187155,190254,196624,205435,215544,224042,Algiers,2381740.0,34586184.0,19.709332
3,Andorra,2885,3330,3302,3360,3517,3680,3835,3985,Andorra la Vella,468.0,84000.0,20.684434
4,Angola,58125,75179,124794,135558,142198,149076,156463,164414,Luanda,1246700.0,13068161.0,31.748321
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,342941,366201,413808,469620,517642,569146,624400,682853,Hanoi,329560.0,89571130.0,65.016868
192,Palestine,15532,18037,18818,19398,20186,20925,21637,22522,None,5970.0,3800000.0,19.683282
193,Yemen,18850,19911,27594,28099,30154,32953,36561,40901,Sanaa,527970.0,23495361.0,48.224252
194,Zambia,18111,21313,27025,28798,30966,33313,35945,38801,Lusaka,752614.0,13460305.0,43.574468
195,Zimbabwe,23181,32868,38280,37303,38708,38794,38678,40397,Harare,390580.0,11651858.0,5.530303

In [18]:
#Sorted by this column in descending order.

DF.sort_values(by=['average'], ascending = False)

,COUNTRY,2020,2021,2022,2023,2024,2025,2026,2027,CAPITAL,AREA,POPULATION,average
102,Macau,25586,29905,23420,39436,53213,60852,65631,69214,0,0.0,0.0,195.533732
159,South Sudan,6710,5167,4784,8549,10872,11889,12469,13197,Juba,644329.0,8260490.0,175.857023
188,Uzbekistan,59893,69202,79117,91895,106989,121546,136376,152631,Tashkent,447400.0,27865738.0,92.918083
71,Guyana,5471,7717,14839,16804,18999,22926,27704,28421,Georgetown,214970.0,748486.0,91.529079
127,Nigeria,429423,441541,504203,574271,651340,737970,835822,945341,Abuja,923768.0,154000000.0,87.492141
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Pakistan,300410,348227,376493,376493,376493,376493,376493,376493,Islamabad,803940.0,184404791.0,0.000000
96,Lebanon,24494,24494,24494,24494,24494,24494,24494,24494,Beirut,10400.0,4125247.0,0.000000
0,Afghanistan,20136,20136,20136,20136,20136,20136,20136,20136,Kabul,647500.0,29121286.0,0.000000
92,Kuwait,105949,135761,183568,172590,172008,173821,177288,181137,Kuwait City,17820.0,2789132.0,-1.324305
53,Equatorial Guinea,10099,12269,16877,15576,13725,13792,13743,14136,Malabo,28051.0,1014999.0,-16.241038